#commitment__section {
  margin: 0;
}

.commitment__section-flex {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  height: 424px;
}

.commitment__section-flex-2Boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.commitment__section-fulltime-contract-border {
  border-bottom: 1px solid #dadada;
  padding-top: 1px;
  margin-right: 96%;
  margin-bottom: 24px;
}
.commitment__section-fulltime-contract {
  width: 680px;
  height: 193px;
  left: 561px;
  background: #ffffff;
  border: 1px solid #dadada;
  box-sizing: border-box;
  border-radius: 4px;
}

.marginRight {
  margin-right: 20px;
}

/* .marginBottom {
  margin-bottom: 10px;
} */
.lineRow {
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.line {
  width: 250px;
  border: 1px solid #dadada;
}

@media only screen and (max-width: 675px) {
  .commitment__section{
    justify-content: center;
  }
  .commitment__section-flex {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 0;
  }

  .commitment__section-flex-2Boxes {
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .commitment__section-fulltime-contract {
    width: 85%;
    justify-content: center;
    height: 219px;
    left: 0;
    border-radius: 4px;
    
  }
  
  .marginRight {
    margin-right: 20px;
  }

  /* .marginBottom {
    margin-bottom: 20px;
  } */

  .line {
    width: 80px;
  }
}
